@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.profile {
    font-family: "Fira Sans Condensed", serif !important;
}
.profile figure img {
    width: 7.5rem;
}
.profile h5 {
    font-weight: 400;
}
.profile form div i {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.profile form div p {
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    font-size: 1.125rem;
}
